
body {
	background-image: url("cat1d.png");
	background-color: #LOLLL;
		font-family: "Vivaldi", cursive;
    font-size: 15px;
    line-height: 1.5;
    color: black;
}	
h1{
    padding: 1em;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
	background-color: #FF0040;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    
}	
p{
    padding: 1em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
    background-color: #FE9A2E;
    text-align: center;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    
}	
